.footer {
  &-container {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items:center;
    @include respond (tab-port){
    
       flex-direction: column;
       gap:2rem;
       margin: 0 auto;
       height: 20rem;
    }
  }

  &__social {
    margin-right: 20rem;
    @include respond (tab-land){
        margin-right: 15rem;
        margin-left: 3rem;
    }
    @include respond (tab-port){
        margin: 0 2rem;
    }

    &-list {
      display: flex;
      gap: 2rem;
    }

    &-item {
      padding: 10px;
    }

    &-icon {
      width: 1rem;
    }
  }
  &__adress {
    margin-right: 15rem;
    @include respond (tab-port){
        margin: 0 2rem;
    }
  }
  &__adress h3 {
    font-size: $def-font-size;
  }

  &__lower{
    background-color: $color-gray;
    height: 5rem;
    justify-content: space-around;
    display: flex;
    align-items:center ;
     &-text-r{
     margin-left: 3rem
     }
     &-text-l{
        margin-right: 3rem;
     }
  }
}

.media-sub{
    @include respond (tab-land){
        margin-right: 8rem;
        margin-left: 3rem;
    }
}